.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  border: 2px solid wheat;
  border-radius: 3em;
  padding: 2em;
  width: fit-content;
}

.panel {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn {
  width: 30vw;
  background-color: brown;
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
  box-shadow: 0 0 8px black;
  &:active {
    box-shadow: 0 0 4px black;
  }
}
